.icon {
  display: block;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 18px;
  height: 18px;

  @include onDesktop() {
    width: 24px;
    height: 24px;
  }

  &--menu {
    background-image: url(/src/images/svg/menu.svg);

    &:hover {
      background-image: url(/src/images/svg/menu-hover.svg);
    }
  }

  &--phone {
    background-image: url(/src/images/svg/call-icon.svg);
  }

  &--cross {
    background-image: url(/src/images/svg/cross.svg);
  }
}
