@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin top-actions {
  display: grid;
  grid-template-columns: 18px 1fr 18px;
  justify-items: center;
  align-items: center;
}

@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-option {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;

  color: $text-grey-color;
}
