.footer {
  padding: 0 0 24px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  height: 206px;
  width: 100%;

  background-image: url(/src/images/main-pictures/footer-background.png);
  background-position: center;
  background-size: cover;

  box-sizing: content-box;

  @include onDesktop {
    padding: 0 0 32px 0;
    height: 359px;
  }
}
