.testimonials {
  &__content {
    display: flex;
    flex-direction: column;

    @include onDesktop {
      flex-direction: row;
      align-items: baseline;
      gap: 24px;
    }
  }

  &__portfolio {
    @include flexbox-center;
    flex-direction: column;

    &:not(:last-child) {
      margin: 0 0 48px 0;
    }

    @include onDesktop {
      margin: 0;
    }
  }

  &__photo {
    margin: 0 0 28px 0;
    width: 153px;
    height: 153px;

    border-radius: 50%;

    @include onDesktop {
      margin: 0 0 32px 0;

      width: 150px;
      height: 150px;
    }
  }

  &__name {
    margin: 0 0 4px 0;

    color: $main-blue-color;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  &__role {
    margin: 0 0 4px 0;

    color: #9fadc2;
    font-size: 14px;
    line-height: 27px;
  }

  &__description {
    text-align: center;
    @include text-option;

    width: 100%;
    max-width: 280px;

    @include onDesktop {
      max-width: 324px;
    }
  }
}
